<div class="d-flex flex-column align-items-center justify-content-center" >
    <div>Admin hozzáadása</div>
    <form class="form w-50" [formGroup]="input" >
        <div class="row m-3">
            <label for="email">Felhasználó email címe:</label>
            <input class="col form-field" name="email" formControlName="email" />
        </div>    
        <div class="row m-3">
            <button class="col btn btn-primary" (click)="add($event)">Keresés</button>
        </div>
    </form>
</div>