<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">WEBSHOP_UI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Felhasználó
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="/register">Regisztráció</a></li>
            <li><a class="dropdown-item" routerLink="/login">Belépes</a></li>
            <li><a class="dropdown-item" routerLink="/user-data">Felhasználói adatok</a></li>
            <li><a class="dropdown-item" routerLink="/user-cart">Felhasználói kosár</a></li>
            <li><a class="dropdown-item" routerLink="/add-admin">Admin hozzáadás</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Termékek
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="/list-products">Termékek listázása</a></li>
            <li><a class="dropdown-item" (click)="goToSpec('categories')">Kategórizált termékek</a></li>
            <li><a class="dropdown-item" (click)="goToSpec('promoted')">Promótált termékek</a></li>
            <li><a class="dropdown-item" (click)="goToSpec('sales')">Akciós Termékek</a></li>
            <li><a class="dropdown-item" routerLink="/product-form">Termék hozzáadása / módosítása
            </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Raktár
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item"  routerLink="/low-stock">Alacsony raktárkészlet kereső</a></li>
            <li><a class="dropdown-item" routerLink="/modify-stock">Raktár módosítás</a></li>
            <li><a class="dropdown-item"  routerLink="/search-stock">Raktárkészlet ellenőrző</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark" routerLink="/purchase">Vásárlás</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>